# إعدادات وتخزين محلي
.vscode/
.idea/
.DS_Store

# ملفات السجل والأخطاء
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# بيئة النود (إن وجدت مستقبلاً)
node_modules/

# ملفات النظام المؤقتة
Thumbs.db
desktop.ini

# ملفات البيئة
.env
